<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>zBot(Zeus) - MalCent</title>

    <link rel="stylesheet" href="{{ static('style/style.css') }}" TYPE="text/css" MEDIA="screen">
    <link rel="stylesheet" href="{{ static('style/tabber_style.css') }}" TYPE="text/css" MEDIA="screen">

    <!-- Load the tabber code -->
    <script type="text/javascript" src="{{ static('scripts/tabber.js') }}"></script>

</head>
<body>
    <div id="userbar">
        <a href="/family/zbot(ZeuS)/edit">Edit</a><a href="/profile/DownGoat">DownGoat</a>
    </div>
    <div  id="description">
        <h1>zBot (ZeuS)</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <h3>Startup procedures</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <h3>Some other thing about zBot</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="tabber">
        <div class="tabbertab" id="samples">
            <h3>Samples</h3>

            Last 10 samples, <a href="/samples/0">look for more samples.</a>
            <table id="sample_table">
                <tr>
                    <th>SHA1</th>
                    <th>Analysis</th>
                    <th>Download</th>
                    <th>First Seen</th>
                </tr>
                <tr>
                    <td>6c334aef68f796938a8aeba8a56b46bf</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>71769b2c8b48b19e8ab78feb2fe1c67c</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>34f980473fb3f7c45d4fd9b5e6bffdfb</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>bb27f3e8997f6a8cb728bf843a1e4952</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>f4f1642adc5bc9e61ecccbcee20165fb</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>b6afd48b99b08f114240ab69c35d4b04</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>0badf448d3f5a3a4e78b5a751d6308be</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>de995b17181f5cbb680e1423d3ceebf3</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>bb27f3e8997f6a8cb728bf843a1e4952</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>

                <tr>
                    <td>7364f09d5e816586fcd2e5636328a397</td>
                    <td><a href="download">Download</a></td>
                    <td><a href="/analysis/6c334aef68f796938a8aeba8a56b46bf">Analysis</a></td>
                    <td>2012-12-28 21:10:28</td>
                </tr>
            </table>
        </div>

        <div class="tabbertab" id="references">
            <h3>References</h3>

            1. ^ Jim Finkle (July 17, 2007). <a href="http://www.reuters.com/article/domesticNews/idUSN1638118020070717">"Hackers steal U.S. government, corporate data from PCs". Reuters. Retrieved November 17, 2009. </a>
        </div>

        <div class="tabbertab" id="removal">
            <h3>Removal</h3>
            <h4>Tool assisted removal</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <h4>Manual removal</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</body>
</html>