<!DOCTYPE html>
<html>
<head>
    <title>MalCent - Main Page</title>
    <link rel="stylesheet" href="/MalCent/static/style/mainpage.css" />
</head>
<body>
    <h4>Search for report</h4>
    <form action="/search" method="post" id="searchform">
        <input type="text" name="search">
        <input type="submit" name="submit" value="Search">
    </form>

    <h4>Upload file</h4>
    <form action="/upload" method="post" enctype="multipart/form-data" id="uploadfile">
        <input type="file" name="file">
        <input type="hidden" name="type" value="file">
        <input type="submit" name="submit" value="Upload">
    </form>

    <h4>Upload from URL</h4>
    <form action="/upload" method="post" id="uploadurl">
        <input type="text" name="url">
        <input type="hidden" name="type" value="url">
        <input type="submit" name="submit" value="Upload">
    </form>
</body>
</html>